<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
	<meta charset="UTF-8">
	<title>Angular One - Week Three</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="app.css">
</head>
<body>
	<h1>Angular - Week Three</h1>
	<div ng-controller="StoreController as store">
		<h2>Date: {{ ::store.date | date: 'EEEE, MMMM dd, yyyy' }} </h2>
		<div
			class="product"
			ng-repeat="product in store.products | limitTo: 3 | orderBy: '-price' track by $index"
		 	ng-hide="product.soldOut">
			Item #{{ $index }}
			<h1 ng-bind="product.name | uppercase"></h1>
			<h2>
				<span>
					{{product.price | currency }}
				</span>
			</h2>
			<div ng-repeat = "img in product.images">
				<img ng-src="{{img.thumb}}" alt="" width="200" height="200">
			</div>

			<!-- tabs -->
			<section ng-controller="PanelController as panel" class="tab-section">
				 <ul class="nav nav-pills">
					<li ng-class="{ 'active': panel.isSelected(1) }">
					 	<a href
					 		ng-click="panel.selectTab(1)">
					 			Description
					 	</a>
					 </li>
					 <li ng-class="{ 'active': panel.isSelected(2) }">
					 	<a href
					 		ng-click="panel.selectTab(2)">
					 			Specifications
				 		</a>
					 </li>
					 <li ng-class="{ 'active': panel.isSelected(3) }">
					 	<a href
					 		ng-click="panel.selectTab(3)">
					 			Reviews
					 	</a>
					 </li>
				 </ul>

				<!-- tab panels -->
				<div class="panel" ng-show="panel.isSelected(1)">
					<h4>Description</h4>
					<blockquote>
						{{ product.description }}
					</blockquote>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<h4>Specifications</h4>
					<blockquote>
						Coming Soon
					</blockquote>
				</div>
				<div class="panel" ng-show="panel.isSelected(3)">
					<h4>Reviews</h4>
					<form name="reviewForm"
					novalidate
					ng-controller="ReviewFormController as reviewFormCTRL"
					ng-submit="reviewForm.$valid && reviewFormCTRL.addReview(product)">
						<blockquote>
							<b>Stars: {{reviewFormCTRL.formReview.stars}}</b>
							{{reviewFormCTRL.formReview.body}}
							<cite>{{reviewFormCTRL.formReview.author}}</cite>
							<em>Agreed? {{reviewFormCTRL.formReview.terms}}</em>
							<p>Color: {{reviewFormCTRL.formReview.color}}</p>
						</blockquote>
						<select class="cf">
							<option value="5">5 stars</option>
							<option value="4">4 stars</option>
							<option value="3">3 stars</option>
							<option value="2">2 stars</option>
							<option value="1">1 stars</option>
						</select>
						<textarea class="cf" ng-model="reviewFormCTRL.formReview.body"
						required></textarea>
						<input type="email" class="cf"
						ng-model="reviewFormCTRL.formReview.author"
						required>
						<input id="agree" type="checkbox"
						ng-model="reviewFormCTRL.formReview.terms">
							<label for="agree">I agree to terms.</label>
						<p>what color sticker would you like?</p>
						<input id="color-red" type="radio" ng-model="reviewFormCTRL.formReview.color" value="red">
							<label for="color-red">Red</label>
						<input id="color-green" type="radio" ng-model="reviewFormCTRL.formReview.color" value="green">
							<label for="color-green">Green</label>
						<input id="color-blue" type="radio" ng-model="reviewFormCTRL.formReview.color" value="blue">
							<label for="color-blue">Blue</label>
						<button type="submit" class="cf">Submit</button>
					</form>
					<blockquote ng-repeat="review in product.reviews | orderBy: '-stars' track by $index">
					    <li>Stars: {{review.stars}}</li>
					    <li> {{review.body}}</li>
					    <li>From: {{review.author}}</li>
					</blockquote>
				</div>
			</section>

			<button ng-if="product.canPurchase">Add to Cart</button>
		</div>
	</div>
	<script src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>